h1 {
    margin-top: 20px;
    color: greenyellow;
    background-color: black;
    font-family: fantasy;
}
h2 {

    color: greenyellow;
    background-color: black;
    font-family: fantasy; 
}

.content{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    width: 100%;
    background-color: black;
}

#display{
    width: 100%;
}

#slider{
    width: 100%;
    color: greenyellow;
}

#length{
    display: inline-block;
    width: 100px;
    color: greenyellow;
    font-family: fantasy;
}

.previous_passwords{
    margin-bottom: 20px;
}
input[type='text'] {
    width: 60px;
    height: 150px;
}
body {
    background-image: url(https://www.themebeta.com/media/cache/728/files/chrome/images/201711/16/a917ac3724f85d3391fd4c1563d419ec.jpeg)
}